<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('../partials/head.ejs', { css_files: ["create"] })%>
<!-- HEAD -->

<body>
<h1>Editar producto</h1>
<form action="/edit/<%= product.id %>" method="POST" enctype="multipart/form-data">
    <div>
        <label for="">Nombre</label>
        <input type="text" name="name" value="<%= product.name %>">
    </div>
    <div>
        <label for="">Descripción</label>
        <input type="text" name="description" value="<%= product.description %>">
    </div>
    <div>
        <label for="">Material</label>
        <input type="text" name="material" value="<%= product.material %>">
    </div>
    <div>
        <label for="">Color</label>
        <input type="text" name="color" value="<%= product.color %>">
    </div>
    <div>
        <label for="">Dimensiones</label>
        <input type="text" name="dimension" value="<%= product.dimension %>">
    </div>
    <div>
        <label for="">Foto principal</label>
        <input type="file" name="image" accept=".jpg, .jpeg, .png" required>
    </div>
    <div>
        <label for="">Fotos secundarias</label>
        <input type="file" name="images" multiple accept=".jpg, .jpeg, .png" required> 
    </div>
    <div>
        <label for="">Precio</label>
        <input type="text" name="price" value="<%= product.price %>">
    </div>
    <div>
        <label for="">Cantidad</label>
        <input type="text" name="quantity" value="<%= product.quantity %>">
    </div>
    <div>
        <label for="">Categoría</label>
        <select name="category">
            <% for (let i = 0; i < category.length; i++) { %>
                <% if (category[i].id == product.category_id) { %>
                    <option value="<%= category[i].id %>" selected>
                        <%= category[i].name %>
                    </option>
                <% } else { %>
                    <option value="<%= category[i].id %>">
                        <%= category[i].name %>
                    </option>
            <% } %>
        </select>
    </div>

    <button type="submit">Editar</button>
</form>    

<!-- FOOTER -->
    <%-  include('../partials/footer.ejs', { css_files: ["create"] })%>
<!-- FOOTER -->
</body>
</html>