<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('../partials/head.ejs', { css_files: ["products"] })%>
<!-- HEAD -->

<body>
    <!-- HEADER -->
        <%-  include('../partials/header.ejs', { css_files: ["products"] })%>
    <!-- HEADER -->
            
    <main>      
        <% products.forEach((product) => { %>
            <section class="product_grid">
              <article class="product_card">
                <img src="<%= product.image %>" class="product_image">
                <img src="<%= product.images %>" class="product_image">
                <h2><%= product.name %></h2>
                <p>$<%= product.price %></p>
                <p><%= product.description %></p>
                <p><%= product.material %></p>
                <p><%= product.color %></p>
                <p><%= product.dimension %></p>
              </article>
            </section>
          <% }); %>
    </main>
        
    <!-- FOOTER -->
        <%-  include('../partials/footer.ejs', { css_files: ["products"] })%>
    <!-- FOOTER -->
</body>
</html>