<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('../partials/head.ejs', { css_files: ["products"] })%>
<!-- HEAD -->

<body>
    <!-- HEADER -->
        <%-  include('../partials/header.ejs', { css_files: ["products"] })%>
    <!-- HEADER -->
            
    <main>
        <section class="product_grid">
            <% console.log(products); %>
            <% products.forEach((product, index) => { %>
    
            <article class="product_card">
                <a href="/products/<%= product.id %>">
                    <img src="/img/products/<%= product.image %>" class="product_image">
                    <a href="#" class="product_title"><span><%= product.name %></span></a>
                </a>
            </article>
            <% if ((index + 1) % 3 === 0) { %>
        </section>
        <section class="product_grid">
            <% } %>
            <% }); %>
        </section>
    </main>
    <!-- FOOTER -->
        <%-  include('../partials/footer.ejs', { css_files: ["products"] })%>
    <!-- FOOTER -->
</body>
</html> 