<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('../partials/head.ejs', { css_files: ["products"] })%>
<!-- HEAD -->

<body>
    <!-- HEADER -->
        <%-  include('../partials/header.ejs', { css_files: ["products"] })%>
    <!-- HEADER -->
            
    <main>      
        <% products.forEach((product) => { %>
            <section class="product_grid">
              <article class="product_card">
                <a href="/products/<%= product.id %>">
                    <img src="/img/products/product-1679185466723.png" class="product_image">
                    <a href="#" class="product_title"><span><%= product.name %></span></a>  
                </a>
              </article>
            </section>
          <% }); %>
    </main>
        
    <!-- FOOTER -->
        <%-  include('../partials/footer.ejs', { css_files: ["products"] })%>
    <!-- FOOTER -->
</body>
</html>